---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.map((post: any) => post.data.tags).flat())];

const pageTitle = "Tag Index";
const visible = true;
---

<style>
    a {
        color: #00539F;
    }
</style>

<Layout pageTitle={pageTitle} visible={visible}>
    <div class="tags">
        {tags.map((tag) => <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>)}
    </div>
</Layout>