---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';

const pageTitle = "Journals";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
  </head>
  <body>
    <Navigation />
    <h1>
        {pageTitle}
    </h1>
    <h2>
        Daily Mood Journals
    </h2>
    <p>
        This is where I'll post my daily mood journals that I write. I'm going to use this site to simultaneously practice my Astro coding while working on my mental health. Or something.
    </p>
    <ul>
        <li>
            <a href="/posts/post-1/">
                #1 - April 14, 2025
            </a>
        </li>
    </ul>
    
  </body>
</html>