---
import Layout from '../layouts/Layout.astro';

const pageTitle = "Home";
---

<Layout pageTitle={pageTitle}>
	<h3>
		Welcome to my website. Please note that I'm following along a tutorial or seven while I make this site. So please pardon my dust.
	</h3>
	<p>
		I'm currently on an introduction to Astro tutorial. My knowledge level of HTML and CSS are beginner level and my JS and Astro are intro level. I'll keep updating here as I get better and better.
	</p>
	<p>
		Astro Introduction Tutorial: <b>Unit 3</b>
	</p>
</Layout>