---
import Layout from '../layouts/Layout.astro';
import Greeting from '../components/Greeting';

const pageTitle = "Home";
---

<Layout pageTitle={pageTitle}>
	<h3>
		Welcome to my website. Please note that I'm following along a tutorial or seven while I make this site. So please pardon my dust.
	</h3>
	<Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there", "Winner winner chicken dinner!", "Hej", "Halloo", "Hola"]} />
	<p>
		I'm currently finished the introduction to Astro tutorial. My knowledge level of HTML and CSS are beginner level and my JS and Astro are intro level. I'll keep updating here as I get better and better.
	</p>
	<p>
		Astro Introduction Tutorial: <strong>Done.</strong>
	</p>
	<p>
		Next steps? HTML/CSS/JS so I can make this better.
	</p>
</Layout>