---
import Social from '../components/Social.astro';

const gitPlatform = "github";
const gitUser = "rmoli082";

const photoPlatform = "instagram";
const photoUser = "_rmoli082";

const businessPlatform = "linkedin";
const businessUser = "rmoli082";

const socials = [
    {
        platform: "instagram",
        username: "_rmoli082"
    },
    {
        platform: "github",
        username: "rmoli082"
    },
    {
        platform: "linkedin",
        username: "in/rmolinaro/"
    }
]
---

<style>
    footer {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        margin-top: 2rem;
    }

    
</style>

<footer>
    <hr style="width:100%" />
    <div style="width:30%">
        <p>
            Socials:
        </p>
        <ul>
            {socials.map((network) => <li><Social platform={network.platform} username={network.username} /></li>)}
        </ul>
    </div>
</footer>