---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
import ThemeIcon from './ThemeIcon.astro';

const {visible} = Astro.props;
---

<header>
    <nav>
        <Hamburger />
        <ThemeIcon />
        <Navigation visible={visible}/>
    </nav>
</header>