---
const homeTitle = "Home";
const aboutTitle = "About Me";
const blogTitle = "Journals";
---
<div class="nav-links">
    <a href="/">
        {homeTitle}
    </a>
     | 
    <a href="/about/">
        {aboutTitle}
    </a>
     | 
    <a href="/blog/">
        {blogTitle}
    </a>
     |
</div>