---
import Layout from './Layout.astro';

const { frontmatter } = Astro.props;
---

<style>
    a {
        color: #00539F;
    }
</style>

<Layout pageTitle={frontmatter.title} visible=true>
    <p><strong>Published: {frontmatter.pubDate.toString().slice(0,10)}</strong></p>
    <slot />
    <hr />
    <div class="tags">
        {frontmatter.tags.map((tag: string) => (
          <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
        ))}
    </div>
      <p>Written by {frontmatter.author}</p>
</Layout>