---
import Layout from './Layout.astro';

const { frontmatter } = Astro.props;
---

<Layout pageTitle={frontmatter.title}>
    <p><strong>Published: {frontmatter.pubDate.toString().slice(0,10)}</strong>
    <br/>Written by {frontmatter.author}</p>
    <slot />
</Layout>